# Ananas Web Scraper Project

In [94]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [100]:
URL = 'https://ananas.mk/proizvod/tefal-pegla-dt-3030-eo-1300w-120ml-15-sek/529406'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(class_='sc-1x6ek2s-4').get_text()

price = soup2.find(class_='sc-1arj7wv-2').get_text()


print(title)
print(price)

         TEFAL Пегла DT 3030 EO, 1300W, 120мл, 15 сек


             4.199

In [113]:
price = price.strip()
price = price.replace('.', ',')
title = title.strip()

print(title)
print(price)

TEFAL Пегла DT 3030 EO, 1300W, 120мл, 15 сек
4,199

In [114]:
type(price)

str

In [141]:
import datetime

today = datetime.date.today()

print(today)

2024-07-15

In [115]:
import csv

In [135]:
header = ['Title', 'Price', 'Date']
data = [title, price, today]

# type(data) -- list

with open('AnanasWebScraperDataset.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [131]:
import pandas as pd

df = pd.read_csv('D:\Data Analytics Bootcamp\Pandas\AnanasWebScraperDataset.csv')

df

                                          Title  Price        Date
0  TEFAL Пегла DT 3030 EO, 1300W, 120мл, 15 сек  4,199  2024-07-15

In [139]:
# Append data to the csv

with open('AnanasWebScraperDataset.csv', 'a+', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [150]:
def check_price():
    URL = 'https://ananas.mk/proizvod/tefal-pegla-dt-3030-eo-1300w-120ml-15-sek/529406'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}
    page = requests.get(URL, headers=headers)
    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    title = soup2.find(class_='sc-1x6ek2s-4').get_text()
    price = soup2.find(class_='sc-1arj7wv-2').get_text()

    price = price.strip()
    price = price.replace('.', ',')
    title = title.strip()

    import datetime
    today = datetime.date.today()

    import csv
    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AnanasWebScraperDataset.csv', 'a+', newline='', encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

    if(price < 500):
        send_email()

In [153]:
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('example@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "This is below 500den! Now is your chance to buy!"
    body = "This is the moment we have been waiting for. Now is your chance to buy it. Don't mess it up! Link here: https://ananas.mk/proizvod/tefal-pegla-dt-3030-eo-1300w-120ml-15-sek/529406"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'example@gmail.com',
        msg
     
    )

In [143]:
while(True):
    check_price()
    time.sleep(86400)

KeyboardInterrupt:

In [154]:
df = pd.read_csv('D:\Data Analytics Bootcamp\Pandas\AnanasWebScraperDataset.csv')
df

                                          Title  Price        Date
0  TEFAL Пегла DT 3030 EO, 1300W, 120мл, 15 сек  4,199  2024-07-15